@charset "UTF-8";
@import url(https://fonts.googleapis.com/css?family=Montserrat:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);
/* Указываем box sizing */
*,
*::before,
*::after {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: #FFFFFF;
}

/* Убираем внутренние отступы */
ul[class],
ol[class] {
  padding: 0;
}

/* Убираем внешние отступы */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Выставляем основные настройки по-умолчанию для body */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Удаляем стандартную стилизацию для всех ul и il, у которых есть атрибут class*/
ul[class],
ol[class] {
  list-style: none;
}

/* Элементы a, у которых нет класса, сбрасываем до дефолтных стилей */
a:not([class]) {
  -webkit-text-decoration-skip: ink;
          text-decoration-skip-ink: auto;
}

/* Упрощаем работу с изображениями */
img {
  max-width: 100%;
  display: block;
}

/* Указываем понятную периодичность в потоке данных у article*/
article > * + * {
  margin-top: 1em;
}

/* Наследуем шрифты для инпутов и кнопок */
input,
button,
textarea,
select {
  font: inherit;
}

/* Удаляем все анимации и переходы для людей, которые предпочитай их не использовать */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
html {
  font-family: "Montserrat";
  background: #FFFFFF;
}

.container {
  max-width: 1920px;
  margin: 0 auto;
  padding: 0 50px;
}

@media (max-width: 1200px) {
  .container {
    padding: 0 20px;
  }
}
html {
  scroll-behavior: smooth;
}

.burger-menu {
  display: none;
  cursor: pointer;
  flex-direction: column;
}

.burger-menu_span {
  display: block;
  width: 42px;
  height: 4px;
  background: linear-gradient(-45deg, #342465 0, #221d4c 34%, #572459 73%) !important;
  margin-bottom: 5px;
  transition: 0.4s;
}

@media (max-width: 1260px) {
  .burger-menu {
    display: flex;
    z-index: 2000;
  }
  /* Анімація бургер-меню */
  .burger-menu.open .burger-menu_span:nth-child(1) {
    transform: rotate(45deg);
    position: relative;
    top: 10px;
  }
  .burger-menu.open .burger-menu_span:nth-child(2) {
    opacity: 0;
  }
  .burger-menu.open .burger-menu_span:nth-child(3) {
    transform: rotate(-45deg);
    position: relative;
    top: -8px;
  }
}
.accordion_title {
  padding: 20px 0 0 0;
  font-weight: 600;
  font-size: 76px;
  line-height: 57px;
  text-transform: uppercase;
  text-align: center;
  color: #2f4acd;
  margin: 0 0 36px 0;
}
@media (max-width: 650px) {
  .accordion_title {
    font-size: 45px;
  }
}
@media (max-width: 450px) {
  .accordion_title {
    font-size: 30px;
    font-weight: 600;
    margin: 0 0 5px 0;
  }
}
.accordion .accordion__item {
  background: linear-gradient(296.9deg, #6D5BA3 -43.55%, #551D99 2.44%, #802A84 61.24%);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.3607843137);
}
.accordion .accordion__item:hover {
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.3607843137);
  transform: translatex(1px);
}
.accordion .accordion__item .accordion__item-trigger {
  position: relative;
  display: flex;
  gap: 30px;
  padding: 20px 0;
  align-items: center;
  text-transform: uppercase;
  cursor: pointer;
}
.accordion .accordion__item .accordion__item-trigger .trigger__text {
  font-size: 60px;
  font-weight: 600;
  line-height: 34px;
  text-align: left;
  text-underline-position: from-font;
  -webkit-text-decoration-skip-ink: none;
          text-decoration-skip-ink: none;
  color: #FFFFFF;
  padding: 10px 0 10px 30px;
  padding: 40px 0 40px 100px;
}
@media (max-width: 1430px) {
  .accordion .accordion__item .accordion__item-trigger .trigger__text {
    font-size: 60px;
  }
}
@media (max-width: 1030px) {
  .accordion .accordion__item .accordion__item-trigger .trigger__text {
    font-size: 40px;
    padding: 10px 0 10px 30px;
  }
}
@media (max-width: 705px) {
  .accordion .accordion__item .accordion__item-trigger .trigger__text {
    font-size: 13px;
    line-height: 13px;
    padding: 10px 0 10px 10px;
  }
}
.accordion .accordion__item .accordion__item-trigger .trigger__img {
  position: relative;
  margin-left: auto;
  padding: 0 50px 0 0;
}
@media (max-width: 1000px) {
  .accordion .accordion__item .accordion__item-trigger .trigger__img {
    padding: 0 10px 0 0;
  }
}
.accordion .accordion__item .accordion__item-trigger .trigger__img .trigger__image {
  max-width: 50px;
}
@media (max-width: 1000px) {
  .accordion .accordion__item .accordion__item-trigger .trigger__img .trigger__image {
    max-width: 15px;
  }
}
.accordion .accordion__item.accordion__item-active .accordion__item-content {
  max-height: 3500px; /* Задайте подходящую высоту */
  opacity: 1; /* Делаем контент видимым */
}
.accordion .accordion__item.accordion__item-active .trigger__img {
  transform: rotate(180deg) translatex(50%);
}
.accordion .accordion__item.accordion__item-active .trigger__line-2 {
  transform: rotate(0) !important;
  transition: 0.1s transform ease;
}
.accordion .accordion__item.accordion__item-active .trigger__line-1 {
  opacity: 0;
  transition: 0.1s all ease;
}
.accordion .accordion__item .accordion__item-content {
  max-height: 0;
  opacity: 0;
  overflow: hidden;
  transition: max-height 0.5s ease, opacity 0.3s ease;
}
.accordion .accordion__item .accordion__item-content .content__text {
  margin: 10px;
}
.accordion .accordion__item .accordion__item-content .content__text:first-child {
  margin-top: 0;
}

.content__text {
  padding: 0 0 50px 141px;
  background: url(../img/flight_24px.png) 60px 0 no-repeat;
}
@media (max-width: 1430px) {
  .content__text {
    padding: 0 0 10px 40px;
    background-size: 20px;
    background-position: 10px 0px;
  }
}
.content__title {
  font-size: 48px;
  font-weight: 600;
  line-height: 54px;
  text-align: left;
  text-underline-position: from-font;
  -webkit-text-decoration-skip-ink: none;
          text-decoration-skip-ink: none;
  color: #FEC401;
  text-transform: uppercase;
}
@media (max-width: 1430px) {
  .content__title {
    font-size: 34px;
    line-height: 34px;
  }
}
@media (max-width: 1030px) {
  .content__title {
    font-size: 24px;
    line-height: 26px;
  }
}
@media (max-width: 705px) {
  .content__title {
    font-size: 13px;
    line-height: 16px;
  }
}
.content__subtitle {
  font-size: 36px;
  font-weight: 600;
  line-height: 54px;
  text-align: left;
  text-underline-position: from-font;
  -webkit-text-decoration-skip-ink: none;
          text-decoration-skip-ink: none;
  color: #FFFFFF;
  text-transform: uppercase;
}
.content__subtitle span {
  color: #FEC401;
}
@media (max-width: 1430px) {
  .content__subtitle {
    font-size: 34px;
    line-height: 34px;
  }
}
@media (max-width: 1030px) {
  .content__subtitle {
    font-size: 24px;
    line-height: 26px;
  }
}
@media (max-width: 705px) {
  .content__subtitle {
    font-size: 13px;
    line-height: 16px;
  }
}
.content__doc-title {
  position: relative;
  font-size: 40px;
  font-weight: 600;
  line-height: 54px;
  text-align: left;
  text-underline-position: from-font;
  -webkit-text-decoration-skip-ink: none;
          text-decoration-skip-ink: none;
  color: #FFFFFF;
  text-transform: uppercase;
}
@media (max-width: 1430px) {
  .content__doc-title {
    font-size: 34px;
    line-height: 34px;
  }
}
@media (max-width: 1030px) {
  .content__doc-title {
    font-size: 24px;
    line-height: 26px;
  }
}
@media (max-width: 705px) {
  .content__doc-title {
    font-size: 13px;
    line-height: 16px;
  }
}
.content__doc {
  display: flex;
  gap: 39px;
}
.content__doc-item {
  text-transform: uppercase;
  position: relative;
  font-size: 36px;
  font-weight: 600;
  line-height: 54px;
  text-align: left;
  text-underline-position: from-font;
  -webkit-text-decoration-skip-ink: none;
          text-decoration-skip-ink: none;
  color: #FFFFFF;
  text-transform: uppercase;
}
.content__doc-item::before {
  position: absolute;
  content: "";
  width: 10px;
  height: 10px;
  background-color: #FFFFFF;
  border-radius: 50%;
  top: 23px;
  left: -25px;
}
@media (max-width: 1430px) {
  .content__doc-item::before {
    top: 14px;
  }
}
@media (max-width: 700px) {
  .content__doc-item::before {
    top: 3px;
  }
}
@media (max-width: 1430px) {
  .content__doc-item {
    font-size: 34px;
    line-height: 34px;
  }
}
@media (max-width: 1030px) {
  .content__doc-item {
    font-size: 24px;
    line-height: 24px;
  }
}
@media (max-width: 705px) {
  .content__doc-item {
    font-size: 11px;
    line-height: 11px;
  }
}

.container2 {
  padding: 0;
}

.accordion__item-trigger img {
  max-width: 50px;
}
@media (max-width: 1000px) {
  .accordion__item-trigger img {
    max-width: 15px;
  }
}

.about-managers {
  background: linear-gradient(296.9deg, #6D5BA3 -43.55%, #551D99 2.44%, #802A84 61.24%);
}
.about-managers_wrapper {
  padding: 150px 0 50px 0;
}
@media (max-width: 1400px) {
  .about-managers_wrapper {
    padding: 100px 0 0px 0;
  }
}
@media (max-width: 700px) {
  .about-managers_wrapper {
    padding: 50px 0 0px 0;
  }
}
@media (max-width: 450px) {
  .about-managers_wrapper {
    padding: 30px 0 0px 0;
  }
}
.about-managers_title {
  font-size: 96px;
  font-weight: 600;
  line-height: 76px;
  text-align: left;
  text-underline-position: from-font;
  -webkit-text-decoration-skip-ink: none;
          text-decoration-skip-ink: none;
  color: #fff;
  text-transform: uppercase;
  padding: 0 0 50px 0;
  border-bottom: 3px solid white;
  margin: 0 0 21px 0;
}
@media (max-width: 1400px) {
  .about-managers_title {
    font-size: 70px;
    padding: 0 0 40px 0;
    line-height: 60px;
  }
}
@media (max-width: 700px) {
  .about-managers_title {
    font-size: 45px;
    line-height: 44px;
    padding: 0 0 20px 0;
  }
}
@media (max-width: 450px) {
  .about-managers_title {
    font-size: 24px;
    line-height: 20px;
    padding: 0 0 15px 0;
  }
}
.about-managers_accordion-block {
  position: relative;
  padding: 0 0 100px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 1440px) {
  .about-managers_accordion-block {
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 30px;
  }
}
@media (max-width: 700px) {
  .about-managers_accordion-block {
    padding: 0 0 50px 0;
    gap: 15px;
  }
}
@media (max-width: 450px) {
  .about-managers_accordion-block {
    padding: 0 0 20px 0;
    gap: 15px;
  }
}
@media (max-width: 1400px) {
  .about-managers_accordion-block::after {
    position: absolute;
    content: "";
    top: 32px;
    right: 0px;
    width: 50px;
    height: 30px;
    background: url(../img/accordion\ arrrow.png) no-repeat;
    background-size: 20px;
  }
}
@media (max-width: 1400px) and (max-width: 700px) {
  .about-managers_accordion-block::after {
    top: 16px;
    right: -20px;
  }
}
@media (max-width: 1400px) and (max-width: 450px) {
  .about-managers_accordion-block::after {
    top: 8px;
    right: -10px;
    background-size: 10px;
  }
}
.about-managers_trigger {
  display: flex;
  align-items: center;
  justify-content: space-around;
  cursor: pointer;
}
@media (max-width: 1400px) {
  .about-managers_trigger {
    flex-grow: 1;
    justify-content: flex-start;
  }
}
.about-managers_accirdion-image {
  margin: 0 60px 0 0;
  max-width: 150px;
}
@media (max-width: 1552px) {
  .about-managers_accirdion-image {
    max-width: 100px;
  }
}
@media (max-width: 700px) {
  .about-managers_accirdion-image {
    max-width: 60px;
    margin: 0 40px 0 0;
  }
}
@media (max-width: 450px) {
  .about-managers_accirdion-image {
    max-width: 30px;
    margin: 0 20px 0 0;
  }
}
.about-managers_accordion-title {
  font-size: 32px;
  font-weight: 600;
  line-height: 54px;
  text-align: left;
  text-underline-position: from-font;
  -webkit-text-decoration-skip-ink: none;
          text-decoration-skip-ink: none;
  color: #F9B21E;
  text-transform: uppercase;
}
@media (max-width: 1552px) {
  .about-managers_accordion-title {
    font-size: 24px;
    line-height: 34px;
    max-width: 450px;
  }
}
@media (max-width: 700px) {
  .about-managers_accordion-title {
    font-size: 17px;
    line-height: 20px;
    max-width: 300px;
  }
}
@media (max-width: 450px) {
  .about-managers_accordion-title {
    font-size: 13px;
    line-height: 15px;
    max-width: 200px;
  }
}
.about-managers_accordion-text {
  max-width: 800px;
  font-size: 28px;
  font-weight: 300;
  line-height: 44px;
  text-align: left;
  text-underline-position: from-font;
  -webkit-text-decoration-skip-ink: none;
          text-decoration-skip-ink: none;
  color: #fff;
}
@media (max-width: 1552px) {
  .about-managers_accordion-text {
    font-size: 24px;
    line-height: 34px;
  }
}
@media (max-width: 1440px) {
  .about-managers_accordion-text {
    font-size: 24px;
    max-width: 100%;
  }
}
@media (max-width: 700px) {
  .about-managers_accordion-text {
    font-size: 17px;
    line-height: 20px;
  }
}
@media (max-width: 450px) {
  .about-managers_accordion-text {
    font-size: 13px;
    line-height: 15px;
  }
}

@media (max-width: 1400px) {
  .about-managers_accordion-text {
    max-height: 0; /* Начальное состояние */
    opacity: 0; /* Прозрачность в скрытом состоянии */
    overflow: hidden; /* Скрываем содержимое */
    transition: max-height 1s ease, opacity 0.3s ease; /* Добавляем анимацию */
  }
  .about-managers_accordion-block.active .about-managers_accordion-text {
    max-height: 500px; /* Максимальная высота (выберите значение под контент) */
    opacity: 1; /* Делаем текст видимым */
  }
}
.header {
  padding: 12px 0;
  position: fixed; /* Зробимо хедер фіксованим */
  top: 0; /* Закріплюємо до верху */
  left: 0;
  width: 100%; /* Ширина на всю сторінку */
  z-index: 1000; /* Високий індекс для перекриття інших елементів */
  background-color: #fff; /* Фон для хедера, щоб він був видно поверх інших елементів */
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); /* Легка тінь, щоб хедер виглядав більш відокремлено */
}
.header_wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header_logo {
  z-index: 2000;
  max-width: 75px;
}
@media (max-width: 1200px) {
  .header_logo {
    max-width: 50px;
  }
}

.header-menu {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 65px;
  align-items: center;
  transition: transform 0.3s ease-in-out; /* Додаємо плавний перехід */
  /* Анімація для мобільного меню */
}
@media (max-width: 1260px) {
  .header-menu {
    gap: 20px;
  }
}
.header-menu_item {
  color: #552358;
  font-size: 17px;
  font-weight: 600;
  line-height: 14px;
  cursor: pointer;
}
@media (max-width: 1500px) {
  .header-menu_item {
    font-size: 16px;
  }
}
@media (max-width: 1260px) {
  .header-menu_item {
    color: #802a84;
    font-size: 30px;
    font-weight: 600;
  }
}
.header-menu_item:hover {
  color: #f9b21e;
}
.header-menu_item:last-child {
  padding: 15px 25px;
  border: 2px solid transparent;
  color: #552358;
  border-width: 2px !important;
  border-color: #552358;
  border-radius: 14px;
  font-size: 17px;
  font-weight: 700;
  background-color: #fff;
  border-radius: 10px;
  text-transform: uppercase;
}
@media (max-width: 1260px) {
  .header-menu_item:last-child {
    margin: 150px 0 0 0;
  }
}
@media (max-width: 600px) {
  .header-menu_item:last-child {
    background-color: #552358;
    color: #fff;
    padding: 25px 40px;
    text-transform: uppercase;
    font-size: 26px;
  }
}
.header-menu_item:last-child:hover {
  background-color: #802a84;
  color: #fafafa;
  transition: 0.3s ease-in-out;
  border: 2px solid #802a84;
}
@media (max-width: 1260px) {
  .header-menu {
    display: flex;
    flex-direction: column;
    position: fixed; /* Зробимо меню фіксованим */
    top: 0;
    left: 0;
    background-color: #fff;
    width: 100%;
    height: 100vh; /* Задаємо висоту 100% від висоти екрану */
    transform: translateY(-100%); /* Спочатку приховуємо меню */
    z-index: 999; /* Меню на передньому плані */
  }
}
.header-menu.open {
  transform: translateY(0); /* Меню повинно бути видно */
}
.header-menu .header-menu_item {
  padding: 15px;
  text-align: center;
  cursor: pointer;
}

.company {
  background: linear-gradient(-45deg, #342465 0, #221d4c 34%, #572459 73%) !important;
}
.company_wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 70px 0 100px 0;
}
@media (max-width: 1000px) {
  .company_wrapper {
    padding: 100px 0 50px 0;
  }
}
.company_button-box {
  display: flex;
  justify-content: center;
}
.company_button {
  display: none;
  padding: 10px 15px;
  border: 2px solid transparent;
  color: #552358;
  border-width: 2px !important;
  border-color: #552358;
  border-radius: 14px;
  font-size: 17px;
  font-weight: 700;
  background-color: #fff;
  border-radius: 10px;
  text-transform: uppercase;
  box-shadow: 2px 1px 5px rgba(0, 0, 0, 0.699);
}
@media (max-width: 600px) {
  .company_button {
    display: block;
    background-color: #552358;
    color: #fff;
    padding: 10px 20px;
    text-transform: uppercase;
    font-size: 26px;
  }
}
.company_button:hover {
  background-color: #802a84;
  color: #fafafa;
  transition: 0.3s ease-in-out;
  border: 2px solid #802a84;
}
.company_button:active {
  transform: translatey(1px);
  box-shadow: 1px 0px 5px rgba(0, 0, 0, 0.699);
  background-color: #802a84;
  color: #fafafa;
  transition: 0.3s ease-in-out;
  border: 2px solid #802a84;
}
.company_text {
  align-self: center;
  font-weight: 400;
  font-size: 52px;
  line-height: 60px;
  color: #802a84;
  margin-bottom: 30px;
}
.company_box {
  display: flex;
  justify-content: center;
  margin: 0px 0 20px 0;
  gap: 30px;
}
@media (max-width: 1500px) {
  .company_box {
    gap: 10px;
  }
}
@media (max-width: 1000px) {
  .company_box {
    flex-direction: column;
    align-items: center;
    margin: 0px 0 30px 0;
    gap: 10px;
  }
}
.company_title {
  max-width: 882px;
  align-self: center;
  font-weight: 800;
  font-size: 40px;
  color: #fff;
  line-height: 1.3em;
  text-align: left;
  text-transform: uppercase;
}
@media (max-width: 1500px) {
  .company_title {
    font-size: 60px;
    line-height: 50px;
    font-size: 34px;
  }
}
@media (max-width: 1500px) {
  .company_title {
    max-width: 500px;
  }
}
@media (max-width: 1000px) {
  .company_title {
    max-width: 700px;
    text-align: left;
  }
}
@media (max-width: 470px) {
  .company_title {
    font-size: 28px;
    line-height: 40px;
    padding: 40px 0 0 0;
  }
}
.company_picture {
  border-radius: 65px;
  max-width: 805px;
}
.company_flags {
  max-width: 100%;
  padding: 0 40px;
  border-radius: 15px;
  box-shadow: 2px 0px 43px -7px rgba(0, 0, 0, 0.72);
}
@media (max-width: 660px) {
  .company_flags {
    padding: 0 25px;
  }
}

.title_span {
  background: rgba(255, 255, 0, 0.671);
  padding: 0 6px;
}
@media (max-width: 470px) {
  .title_span {
    font-size: 30px;
  }
}

.about-us_wrapper {
  padding: 100px 0 100px 0;
}
@media (max-width: 1300px) {
  .about-us_wrapper {
    padding: 30px 0 30px 0;
  }
}
.about-us_hero {
  display: flex;
  justify-content: center;
  gap: 20px;
}
@media (max-width: 900px) {
  .about-us_hero {
    flex-direction: column;
    gap: 30px;
  }
}
.about-us_title {
  font-weight: 600;
  font-size: 96px;
  line-height: 57px;
  text-transform: uppercase;
  color: #2f4acd;
  margin: 0 0 106px 0;
  text-align: right;
}
@media (max-width: 650px) {
  .about-us_title {
    font-size: 70px;
  }
}
@media (max-width: 450px) {
  .about-us_title {
    font-size: 50px;
    font-weight: 400;
    margin: 0 0 36px 0;
  }
}
.about-us_head-text {
  color: #802a84;
  font-size: 32px;
  font-weight: 600;
  line-height: 48px;
  margin: 0 0 10px 0;
  text-transform: uppercase;
  border-bottom: 1px solid #221d4c;
}
@media (max-width: 450px) {
  .about-us_head-text {
    font-size: 24px;
    line-height: 30px;
  }
}
.about-us_text {
  color: #6d776c;
  font-size: 26px;
  line-height: 34px;
  font-weight: 300;
}
@media (max-width: 1300px) {
  .about-us_text {
    font-size: 22px;
  }
}
@media (max-width: 450px) {
  .about-us_text {
    font-size: 17px;
    line-height: 20px;
    margin: 0 0 40px 0;
    font-weight: 300;
    padding-top: 15px;
  }
}

.abou-us_box {
  border-radius: 20px;
  background: #fbf5fb;
  padding: 25px;
  flex: 1;
}

.services {
  background: linear-gradient(-45deg, #342465 0, #221d4c 34%, #572459 73%) !important;
  color: #ffffff;
}
.services_wrapper {
  padding: 100px 0 100px 0;
}
@media (max-width: 700px) {
  .services_wrapper {
    padding: 30px 0 30px 0;
  }
}
.services_title {
  text-transform: uppercase;
  font-size: 96px;
  font-weight: 600;
  line-height: 57px;
  text-align: left;
  text-underline-position: from-font;
  -webkit-text-decoration-skip-ink: none;
          text-decoration-skip-ink: none;
  margin: 0 0 76px 0;
}
@media (max-width: 1360px) {
  .services_title {
    font-size: 70px;
    line-height: 40px;
  }
}
@media (max-width: 600px) {
  .services_title {
    font-size: 44px;
    line-height: 30px;
    margin: 0 0 40px 0;
    font-weight: 400;
  }
}
.services_text {
  max-width: 1220px;
  font-size: 32px;
  font-weight: 400;
  line-height: 54px;
  text-align: left;
  text-underline-position: from-font;
  -webkit-text-decoration-skip-ink: none;
          text-decoration-skip-ink: none;
  margin: 0 0 25px 0;
}
@media (max-width: 1360px) {
  .services_text {
    font-size: 27px;
    line-height: 34px;
    margin: 0 0 105px 0;
  }
}
@media (max-width: 600px) {
  .services_text {
    font-size: 22px;
    line-height: 25px;
    margin: 0 0 55px 0;
    font-weight: 300;
  }
}
.services_box {
  display: flex;
  gap: 31px;
  justify-content: center;
  align-items: center;
  margin: 0 0 80px 0;
  padding-top: 40px;
}
@media (max-width: 1380px) {
  .services_box {
    flex-direction: column;
  }
}
@media (max-width: 600px) {
  .services_box {
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    margin: 0 0 30px 0;
  }
}
.services_box-title {
  font-size: 40px;
  font-weight: 600;
  line-height: 54px;
  text-align: left;
  text-underline-position: from-font;
  -webkit-text-decoration-skip-ink: none;
          text-decoration-skip-ink: none;
  color: #f9b21e;
  border-radius: 15px;
  box-shadow: 2px 0px 43px -7px rgba(0, 0, 0, 0.72);
  padding: 35px 50px;
}
@media (max-width: 600px) {
  .services_box-title {
    font-size: 24px;
    line-height: 34px;
    padding: 5px 15px;
  }
}
.services_box-text {
  font-size: 32px;
  font-weight: 400;
  line-height: 54px;
  text-align: left;
  text-underline-position: from-font;
  -webkit-text-decoration-skip-ink: none;
          text-decoration-skip-ink: none;
  color: #f9b21e;
}
@media (max-width: 600px) {
  .services_box-text {
    font-size: 20px;
    line-height: 24px;
  }
}
.services_list {
  display: flex;
  justify-content: space-around;
  border-bottom: 3px dashed white;
}
@media (max-width: 1380px) {
  .services_list {
    flex-direction: column;
    gap: 50px;
    border-left: 1px dashed #fafafa;
    border-bottom: 0;
  }
}
.services_list-item {
  text-transform: uppercase;
  position: relative;
  font-size: 40px;
  font-weight: 600;
  line-height: 54px;
  text-align: left;
  text-underline-position: from-font;
  -webkit-text-decoration-skip-ink: none;
          text-decoration-skip-ink: none;
}
.services_list-item::before {
  position: absolute;
  content: "";
  top: 47px;
  left: -25px;
  width: 19px;
  height: 19px;
  border-radius: 50%;
  background: #f9b21e;
}
@media (max-width: 1380px) {
  .services_list-item::before {
    top: 17px;
    left: -42px;
  }
}
@media (max-width: 600px) {
  .services_list-item::before {
    top: 2px;
    left: -41px;
  }
}
@media (max-width: 1380px) {
  .services_list-item {
    margin: 0 0 0 30px;
  }
}
@media (max-width: 600px) {
  .services_list-item {
    font-size: 23px;
    line-height: 23px;
  }
}

.support {
  padding: 150px 0 50px 0;
  background: url(../img/dots.png);
}
@media (max-width: 700px) {
  .support {
    padding: 50px 0 10px 0;
  }
}
.support_wrapper {
  display: flex;
  justify-content: center;
  gap: 30px;
}
@media (max-width: 1500px) {
  .support_wrapper {
    flex-direction: column;
  }
}
.support_block {
  max-width: 700px;
}
.support_block2 {
  align-self: center;
  max-width: 700px;
}
@media (max-width: 1500px) {
  .support_block2 {
    align-self: flex-start;
  }
}
.support_subtitle {
  display: inline;
  font-size: 32px;
  font-weight: 600;
  line-height: 54px;
  text-align: left;
  text-underline-position: from-font;
  -webkit-text-decoration-skip-ink: none;
          text-decoration-skip-ink: none;
  color: #ffffff;
  background-color: #2f4acd;
  padding: 0 5px;
}
@media (max-width: 700px) {
  .support_subtitle {
    font-size: 17px;
    line-height: 22px;
  }
}
@media (max-width: 420px) {
  .support_subtitle {
    font-size: 14px;
    line-height: 19px;
    margin: 0 0 40px 0;
  }
}
.support_text {
  font-size: 28px;
  font-weight: 300;
  line-height: 50px;
  text-align: left;
  text-underline-position: from-font;
  -webkit-text-decoration-skip-ink: none;
          text-decoration-skip-ink: none;
  margin: 0 0 106px 0;
  color: #6d776c;
}
@media (max-width: 700px) {
  .support_text {
    font-size: 17px;
    line-height: 22px;
    margin: 0 0 40px 0;
  }
}
@media (max-width: 420px) {
  .support_text {
    font-size: 14px;
    line-height: 19px;
    margin: 0 0 40px 0;
  }
}

.work_wrapper {
  display: flex;
  padding: 120px 0 40px 0;
  justify-content: space-around;
  align-items: flex-start;
}
@media (max-width: 1280px) {
  .work_wrapper {
    padding: 40px 0 0 0;
    flex-direction: column;
    align-items: center;
  }
}
.work_span {
  line-height: 40px;
  margin-bottom: 0;
  border-radius: 10px;
  padding: 0 0 0 15px;
  box-shadow: 2px 2px px -7px rgba(28, 19, 66, 0.384);
}
.work_span2 {
  line-height: 40px;
  margin-bottom: 0;
  border-radius: 10px;
  padding: 0 0 0 15px;
  box-shadow: 2px 0px 3px -7px rgba(28, 19, 66, 0.384);
}
.work_picture {
  max-width: 300px;
}
.work_block {
  display: flex;
  align-items: center;
  justify-content: center;
}
@media (max-width: 1200px) {
  .work_block {
    order: 1;
  }
}
.work_text {
  display: flex;
  flex-direction: column;
  flex: 1;
  gap: 20px;
  max-width: 1100px;
  font-size: 22px;
  font-weight: 300;
  line-height: 42px;
}
@media (max-width: 600px) {
  .work_text {
    font-size: 18px;
    line-height: 30px;
    margin: 0;
    gap: 10px;
  }
}

.ours-managers_wrapper {
  padding: 150px 0 50px 0;
}
@media (max-width: 1400px) {
  .ours-managers_wrapper {
    padding: 70px 0 20px 0;
  }
}
@media (max-width: 800px) {
  .ours-managers_wrapper {
    padding: 70px 0 0px 0;
  }
}
@media (max-width: 700px) {
  .ours-managers_wrapper {
    padding: 20px 0 0px 0;
  }
}
.ours-managers_title {
  padding: 0 0 150px 50px;
  font-size: 96px;
  font-weight: 600;
  line-height: 57px;
  text-align: left;
  text-underline-position: from-font;
  -webkit-text-decoration-skip-ink: none;
          text-decoration-skip-ink: none;
  color: #2f4acd;
  text-transform: uppercase;
}
@media (max-width: 1400px) {
  .ours-managers_title {
    font-size: 73px;
    line-height: 40px;
    padding: 0 0 70px 20px;
  }
}
@media (max-width: 700px) {
  .ours-managers_title {
    font-size: 38px;
    line-height: 40px;
    padding: 0 0 20px 20px;
  }
}
@media (max-width: 400px) {
  .ours-managers_title {
    font-size: 17px;
    line-height: 57px;
    padding: 0 0 10px 20px;
  }
}
.ours-managers_photo {
  max-width: 532px;
}
@media (max-width: 1400px) {
  .ours-managers_photo {
    max-width: 300px;
  }
}
@media (max-width: 800px) {
  .ours-managers_photo {
    max-width: 100%;
    margin-top: 20px;
    padding: 10px;
  }
}
.ours-managers_text {
  font-size: 30px;
  font-weight: 300;
  line-height: 40px;
  text-align: left;
  text-underline-position: from-font;
  -webkit-text-decoration-skip-ink: none;
          text-decoration-skip-ink: none;
  color: #6d776c;
  padding: 50px;
}
@media (max-width: 1760px) {
  .ours-managers_text {
    font-size: 30px;
    line-height: 40px;
  }
}
@media (max-width: 1400px) {
  .ours-managers_text {
    font-size: 24px;
    line-height: 27px;
  }
}
@media (max-width: 800px) {
  .ours-managers_text {
    padding: 10px 10px 10px 10px;
  }
}
@media (max-width: 400px) {
  .ours-managers_text {
    font-size: 15px;
    font-weight: 600;
    line-height: 24px;
    text-align: left;
    text-underline-position: from-font;
    -webkit-text-decoration-skip-ink: none;
            text-decoration-skip-ink: none;
  }
}

.ours-manager_manager-one {
  display: flex;
  background: rgba(249, 178, 30, 0.2705882353);
  align-items: center;
  margin: 0 0 150px 150px;
}
@media (max-width: 1400px) {
  .ours-manager_manager-one {
    margin: 0 0 70px 40px;
  }
}
@media (max-width: 800px) {
  .ours-manager_manager-one {
    flex-wrap: wrap;
    margin: 0;
    justify-content: center;
  }
}
.ours-manager_manager-two {
  display: flex;
  background: rgba(249, 178, 30, 0.2705882353);
  align-items: center;
  margin: 0 100px 150px 0;
}
@media (max-width: 1400px) {
  .ours-manager_manager-two {
    margin: 0 40px 70px 0px;
  }
}
@media (max-width: 800px) {
  .ours-manager_manager-two {
    flex-wrap: wrap;
    margin: 0;
    justify-content: center;
  }
}

@media (max-width: 800px) {
  .text2 {
    order: 2;
  }
  .photo2 {
    order: 1;
  }
}
.weight {
  font-weight: 800;
}

.flags {
  display: flex;
  justify-content: center;
  gap: 60px;
}
@media (max-width: 1330px) {
  .flags {
    gap: 30px;
  }
}
@media (max-width: 1140px) {
  .flags {
    gap: 10px;
  }
}
@media (max-width: 400px) {
  .flags {
    gap: 5px;
  }
}

.flags_countryes {
  max-width: 100px;
  border-radius: 20px;
}
@media (max-width: 900px) {
  .flags_countryes {
    max-width: 40px;
    border-radius: 5px;
  }
}
@media (max-width: 400px) {
  .flags_countryes {
    max-width: 30px;
  }
}

.ours-managers_photo {
  max-width: 320px;
}

.comments_wrapper {
  padding: 50px 0 100px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-bottom: 1px solid silver;
}
.comments_title {
  text-align: center;
  font-size: 96px;
  font-weight: 600;
  line-height: 57px;
  text-align: left;
  text-underline-position: from-font;
  -webkit-text-decoration-skip-ink: none;
          text-decoration-skip-ink: none;
  color: #802a84;
  margin: 0 0 70px 0;
}
@media (max-width: 700px) {
  .comments_title {
    font-size: 60px;
    line-height: 70px;
    margin: 0 0 30px 0;
  }
}
.comments_hero {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;
}
.comments_block {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex: 0 1 330px;
  background-color: rgba(0, 0, 0, 0.0196078431);
  padding: 20px;
  border-radius: 10%;
  box-shadow: 2px 1px 5px rgba(0, 0, 0, 0.363);
}
.comments_rating {
  margin: 0 0 50px 0;
}
.comments_text {
  font-size: 14px;
  font-weight: 400;
  line-height: 22.4px;
  text-align: left;
  text-underline-position: from-font;
  -webkit-text-decoration-skip-ink: none;
          text-decoration-skip-ink: none;
  color: #222222;
  padding: 0 0 20px 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.445);
}
.comments_user-block {
  display: flex;
  align-items: center;
  padding: 10px 0 0 0;
  gap: 10px;
}
.comments_avatar {
  overflow: hidden;
  max-width: 50px;
  border-radius: 50%;
}
@media (max-width: 1520px) {
  .container-comments {
    max-width: 1080px;
  }
}

.footer {
  padding: 60px 0;
}
@media (max-width: 730px) {
  .footer {
    padding: 10px 0;
  }
}
.footer_wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
}
@media (max-width: 730px) {
  .footer_wrapper {
    justify-content: space-around;
    padding: 20px 0;
  }
}
@media (max-width: 730px) {
  .footer_logo {
    order: 2;
  }
}
.footer_menu {
  display: flex;
  gap: 30px;
  justify-content: center;
  flex-wrap: wrap;
}
@media (max-width: 730px) {
  .footer_menu {
    gap: 15px;
    flex-direction: column;
    order: 1;
  }
}
.footer_menu-item {
  color: #552358;
  font-size: 17px;
  font-weight: 600;
  line-height: 14px;
  cursor: pointer;
}
@media (max-width: 730px) {
  .footer_menu-item {
    font-size: 13px;
    max-width: 100px;
  }
}
.footer_menu-item:hover {
  color: #f9b21e;
}

.footer-logo {
  max-width: 50px;
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10000;
}
.modal_window {
  background-color: #ffffff;
  padding: 50px 50px;
  border-radius: 25px;
  display: none;
}
@media (max-width: 560px) {
  .modal_window {
    padding: 15px;
  }
}
.modal_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.modal_title {
  font-size: 34px;
  font-weight: 700;
  line-height: 57px;
  text-align: left;
  text-underline-position: from-font;
  -webkit-text-decoration-skip-ink: none;
          text-decoration-skip-ink: none;
  color: #221d4c;
  margin: 0 0 12px 0;
}
@media (max-width: 560px) {
  .modal_title {
    font-size: 24px;
    margin: 0 0 0px 10px;
  }
}
.modal_close {
  max-width: 30px;
  cursor: pointer;
  margin: 0 0 12px 0;
}
@media (max-width: 560px) {
  .modal_close {
    max-width: 25px;
    margin: 0 10px 0px 0;
  }
}
.modal_form {
  border-radius: 20px;
  padding: 5px;
}

.form-example {
  margin: 0 0 10px 0;
}

.name {
  width: 400px;
  border-radius: 10px;
  border: 2px solid #221d4c;
  height: 40px;
  padding: 0 0 0 10px;
}
@media (max-width: 560px) {
  .name {
    width: 300px;
  }
}

.name::-moz-placeholder {
  font-weight: 500;
  color: rgba(34, 29, 76, 0.5254901961);
}

.name::placeholder {
  font-weight: 500;
  color: rgba(34, 29, 76, 0.5254901961);
}

.text {
  width: 400px;
  border-radius: 10px;
  border: 2px solid #221d4c;
  height: 40px;
  padding: 0 0 0 10px;
}
@media (max-width: 560px) {
  .text {
    width: 300px;
  }
}

.text::-moz-placeholder {
  font-weight: 500;
  color: rgba(34, 29, 76, 0.5254901961);
}

.text::placeholder {
  font-weight: 500;
  color: rgba(34, 29, 76, 0.5254901961);
}

.tel {
  width: 400px;
  border-radius: 10px;
  border: 2px solid #221d4c;
  height: 40px;
  padding: 0 0 0 10px;
}
@media (max-width: 560px) {
  .tel {
    width: 300px;
  }
}

.form-text {
  overflow: hidden;
  height: 100px;
  width: 400px;
  border: 2px solid #221d4c;
  border-radius: 10px;
}
@media (max-width: 560px) {
  .form-text {
    width: 300px;
  }
}

.form-span {
  font-size: 17px;
  font-weight: 600;
  text-align: left;
  text-underline-position: from-font;
  -webkit-text-decoration-skip-ink: none;
          text-decoration-skip-ink: none;
  color: #221d4c;
  line-height: 22px;
}

.form-submit {
  width: 400px;
  border-radius: 10px;
  background-color: #772789;
  height: 40px;
  padding: 0 0 0 10px;
  border: transparent;
  box-shadow: 1px 2px 6px rgba(49, 38, 196, 0.781);
  color: #fafafa;
  font-weight: 600;
  cursor: pointer;
}
@media (max-width: 560px) {
  .form-submit {
    width: 300px;
  }
}

.form-submit:active {
  transform: translatey(2px);
  box-shadow: 1px 0px 2px rgba(0, 0, 0, 0.452);
}

.placeholder {
  width: 450px;
  margin: -30px;
  height: 140px;
  padding: 40px 30px 20px 40px;
  overflow: hidden;
  font-size: 15px;
  line-height: 15px;
}
@media (max-width: 600px) {
  .placeholder {
    width: 340px;
  }
}

.placeholder::-moz-placeholder {
  font-weight: 500;
  color: rgba(34, 29, 76, 0.5137254902);
}

.placeholder::placeholder {
  font-weight: 500;
  color: rgba(34, 29, 76, 0.5137254902);
}

.radio-example {
  display: flex;
  gap: 10px;
  align-items: center;
}

.doc-title-click {
  cursor: pointer;
  border-bottom: 2px solid white;
}
.doc-title-click:hover {
  color: #f9b21e;
  border-bottom: 2px solid #f9b21e;
}

.content-pad {
  padding: 10px 0 0 0;
}/*# sourceMappingURL=style.css.map */